<style>
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 180px auto;
  color: #333;
}

.login-form {
  background-color: #eee;
  padding: 15px 15px 15px 15px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  z-index:2;
  position:relative;
}

.featurette-heading {
  padding-top: 20px;
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    		<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-btn">
        <li><a href="#"><strong><small>ABOUT</small></strong></a></li>
        <li><a href="#"><strong><small>PRICING</small></strong></a></li>
        <li><a href="#"><strong><small>ENTERPRISE</small></strong></a></li>
        <li><a href="#"><strong><small>APPLICATION</small></strong></a></li>
      </ul>
      <div class="nav navbar-btn pull-right">
        <%= link_to new_member_registration_path, :type => 'button', :class => 'btn btn-default btn-danger navbar-btn' do %>
          <span class="glyphicon glyphicon-user"></span>
          Create Free Account
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Featured Job Header Start -->
<img alt="full screen background image" src="/images/login-bg.jpg" id="full-screen-background-image" />
<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="login-form">
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
					<div class="form-group">
						<div class="input-group control-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
							<%= f.text_field :login, :autofocus => true, :class => 'form-control', :type => 'text', :placeholder => 'Username or email address' %>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group control-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<%= f.password_field :password, :class => 'form-control', :type => 'password', :placeholder => 'Password' %>
						</div>
					</div>
					<div class="form-group">
						<% if devise_mapping.rememberable? -%>
						<%= f.check_box :remember_me %> <%= f.label :remember_me %>
						<% end -%>
					</div>
					<div class="form-group">
						<%= f.submit "Sign In", :class => 'btn btn-danger btn-block btn-lg' %>
					</div>
  				<% end %>
          <div class="form-group">
            Forgot your password? <%= link_to new_member_password_path do %>
            Click here<br>
            <% end %>
		        Or are you <%= link_to '#' do %>
		        having problems logging in?
		        <% end %>
          </div>
		    </div>
      </div>
	    <div class="col-md-8">
	        <h1 class="featurette-heading">Oh yeah, it's that good.<br><span class="text-muted">See it for yourself.</span></h1>
	    </div>
		</div>
	</div>
</div>