<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('logo.png'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-btn">
        <li>
          <%= link_to post_path, :rel => "post-job", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Post a job" do %>
            <span class="glyphicon glyphicon-briefcase"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "notification", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Notifications" do %>
            <span class="glyphicon glyphicon-envelope"></span> <span class="label label-danger">2</span>
          <% end %>
        </li>
      </ul>
      <div class="search_form">
        <form role="navbar-form">
          <div class="form-group">
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="search" class="form-control" placeholder="Search for job, company, category or user profile">
              </div>
            </div>
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to profile_path do %>
          <%= image_tag @current_member.gravatar_url(:size => 35), :class => 'img-rounded' %> <strong><small><%= current_member.first_name %></small></strong>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "dashboard", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Dashboard" do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "subscription", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Subscriptions" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
        </li>
        <li>
          <%= link_to settings_profile_path, :rel => "acc-sett", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Account settings" do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, :rel => "logout", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Sign out" do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Sidebar left -->
    <div class="col-xs-12 col-md-3">
      <div id="wrapper">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= image_tag @current_member.gravatar_url(:size => 22), :class => 'img-rounded' %>
            <strong><%= current_member.username %></strong>
          </div>
          <ul class="list-group">
            <%= link_to settings_profile_path, :class => "list-group-item" do %>
              Profile Details
            <% end %>
            <%= link_to settings_credential_path, :class => "list-group-item" do %>
              User Credential
            <% end %>
            <%= link_to settings_company_path, :class => "active list-group-item" do %>
              Company Details
            <% end %>
            <%= link_to settings_skill_path, :class => "list-group-item" do %>
              Skill & Expertise
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              My Past Project
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              My Resume
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              Payment & Billing
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              Notification Center
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!-- Middle profile -->
    <div class="col-xs-12 col-md-9">
      <div class="alert alert-danger">You must have a premium account to use this features!</div>
    </div>
  </div>
</div>