<style>
body {
  padding-top: 75px;
}

#wrapper {
  font-size: 90%;
}

.navbar-nav>li>a {
  line-height: 34px;
  padding: 0 12px;
}

.navbar-btn>li>a {
  line-height: 49px;
  padding: 0 12px;
}

.search_form input[type=search] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 36px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
 
.search_form input[type=search]:focus {
  width: 500px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
  border-top: 2px solid #fff;
  border-top-color: #3498DB;
}

.media-object {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-left: -10px;
}

.media-object {
  width: 48px;
  height: 48px;
}

.media-object img {
}

.list-group-item-heading {
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 1px;
}

.lead {
  font-size: 16px;
}

.numbering {
  margin-left: 10px;
}
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    		<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
        <%= link_to image_tag('logo.png'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-btn">
        <li>
          <%= link_to post_path, :rel => "post-job", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Post a job" do %>
            <span class="glyphicon glyphicon-briefcase"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "notification", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Notifications" do %>
            <span class="glyphicon glyphicon-envelope"></span> <span class="label label-danger">2</span>
          <% end %>
        </li>
      </ul>
      <div class="search_form">
        <form role="navbar-form">
          <div class="form-group">
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="search" class="form-control" placeholder="Search for job, company, category or user profile">
              </div>
            </div>
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to profile_path do %>
          <%= image_tag @current_member.gravatar_url(:size => 35), :class => 'img-rounded' %> <strong><small><%= current_member.first_name %></small></strong>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "dashboard", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Dashboard" do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "", :rel => "subscription", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Subscriptions" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
        </li>
        <li>
          <%= link_to settings_profile_path, :rel => "acc-sett", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Account settings" do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, :rel => "logout", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Sign out" do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Sidebar left -->
    <div class="col-xs-12 col-md-3">
      <div id="wrapper">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>JOB APPLIED</strong>
            <%= link_to "", :class => "btn btn-default btn-xs pull-right", :rel => "view-all", :'data-container' => 'body', :'data-placement' => "left", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "View all job" do %>
              <span class="glyphicon glyphicon-list"></span>
            <% end %>
          </div>
          <ol class="list-group">
            <%= link_to "", :class => "list-group-item" do %>
              <li class="numbering">
                Linux SysAdmin
                <span class="label label-warning pull-right">Pending Review</span>
              </li>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <li class="numbering">
                Project Manager
                <span class="label label-info pull-right">Application Received</span>
              </li>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <li class="numbering">
                PHP Developer
                <span class="label label-primary pull-right">Schedule for Interview</span>
              </li>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <li class="numbering">
                Graphic Designer
                <span class="label label-danger pull-right">Application Reject</span>
              </li>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <li class="numbering">
                Front-End Developer
                <span class="label label-success pull-right">Success</span>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
      <div id="wrapper">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>JOB FEATURED</strong>
            <%= link_to "", :class => "btn btn-default btn-xs pull-right", :rel => "view-all", :'data-container' => 'body', :'data-placement' => "left", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "View all job" do %>
              <span class="glyphicon glyphicon-list"></span>
            <% end %>
          </div>
          <ol class="list-group">
            <%= link_to "", :class => "list-group-item" do %>
              <%= image_tag "/icons/Banner.png", :class => "media-object", :alt => "job1" %>
              <h5 class="list-group-item-heading">Linux System Administrator</h5>
              <p class="list-group-item-text"><strong>By:</strong> Apple, Inc</p>
              <p class="list-group-item-text"><strong>Closing Date:</strong> Sept 11th, 2013</p>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <%= image_tag "/icons/Graph.png", :class => "media-object", :alt => "job2" %>
              <h5 class="list-group-item-heading">Graphic Designer</h5>
              <p class="list-group-item-text"><strong>By:</strong> Facebook, Inc</p>
              <p class="list-group-item-text"><strong>Closing Date:</strong> Oct 04th, 2013</p>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <%= image_tag "/icons/Earth.png", :class => "media-object", :alt => "job3" %>
              <h5 class="list-group-item-heading">Front-End Developer</h5>
              <p class="list-group-item-text"><strong>By:</strong> Samsung Malaysia</p>
              <p class="list-group-item-text"><strong>Closing Date:</strong> Oct 21th, 2013</p>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <%= image_tag "/icons/Mail.png", :class => "media-object", :alt => "job4" %>
              <h5 class="list-group-item-heading">Senior Account Manager</h5>
              <p class="list-group-item-text"><strong>By:</strong> Malayan Bankin Berhad</p>
              <p class="list-group-item-text"><strong>Closing Date:</strong> Nov 01th, 2013</p>
            <% end %>
            <%= link_to "", :class => "list-group-item" do %>
              <%= image_tag "/icons/Mountain.png", :class => "media-object", :alt => "job5" %>
              <h5 class="list-group-item-heading">PHP Developer</h5>
              <p class="list-group-item-text"><strong>By:</strong> Media Prima Berhad</p>
              <p class="list-group-item-text"><strong>Closing Date:</strong> Nov 13th, 2013</p>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <!-- Middle profile -->
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag @current_member.gravatar_url(:size => 180), :class => 'img-thumbnail' %>
        </div>
        <div class="col-md-9">
          <h2>
            <%= current_member.first_name %> <%= current_member.last_name %>
            <%= link_to "", :class => "btn btn-primary btn-xs", :rel => "verify", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Verified Profile" do %>
            <span class="glyphicon glyphicon-ok"></span>
            <% end %>
            <div class="btn-group">
              <%= link_to "", :class => "btn btn-danger btn-xs", :'data-toggle' => "button", :rel => "star-user", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "Star this user" do %>
              <span class="glyphicon glyphicon-star"></span> Star
              <% end %>
              <%= link_to "", :class => "btn btn-default btn-xs", :disabled => "disabled" do %>
                <strong>1,427</strong>
              <% end %>
            </div>
          </h2>
          <h4>Lead Developer at Osem Network Ent</h4>
          <h5>Petaling Jaya, Selangor</h5>
          <h5>MALAYSIA</h5>
          <div class="btn-group">
            <%= link_to "", :class => "btn btn-info btn-xs", :rel => "acc-type", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "View more details" do %>
              Account Type
            <% end %>
            <%= link_to "", :class => "btn btn-default btn-xs", :rel => "acc-type", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "View more details", :disabled => "disabled" do %>
              <strong>Premium</strong>
            <% end %>
          </div>
          <div class="btn-group">
            <%= link_to "", :class => "btn btn-info btn-xs" do %>
              Status
            <% end %>
            <%= link_to "", :class => "btn btn-default btn-xs", :rel => "acc-type", :'data-container' => 'body', :'data-placement' => "bottom", :'data-trigger' => "hover", :'data-toggle' => "tooltip", :title => "View more details", :disabled => "disabled" do %>
              <strong>Employed</strong>
            <% end %>
          </div>
        </div>
      </div>
      <form role="form">
        <div class="form-group">
          <h4>Profile Description</h4>
          <p class="form-control-static">
            Born on July 4th, 1986. Very talented person in technology industry. Expertized in computer fields such as networking (server environment), programing (PHP, Ruby, Python etc), web and mobile application includiong ios and android.
          </p>
          <p class="form-control-static">
            Other duties may include scripting or light programming, project management for systems-related projects, supervising or training computer operators, and being the consultant for computer problems beyond the knowledge of technical support staff in our company.
          </p>
          <p class="form-control-static">
            <blockquote>
              <p>Who is never done make a mistake in life, then he/she will never learn a new thing!</p>
            </blockquote>
          </p>
        </div>
      </form>

      <hr class="featurette-divider">

      <p class="lead">Details</p>
     
      <div class="row">
        <div class="col-md-6">
          <form role="form">
            <div class="form-group">
              <h4>First Name</h4>
              <p class="form-control-static"><%= current_member.first_name %></p>
            </div>
            <div class="form-group">
              <h4>Address 1</h4>
              <p class="form-control-static">No 595 Lorong 94</p>
            </div>
            <div class="form-group">
              <h4>City</h4>
              <p class="form-control-static">Sungai Petani</p>
            </div>
            <div class="form-group">
              <h4>Zip/Postal Code</h4>
              <p class="form-control-static">08000</p>
            </div>
            <hr>
            <div class="form-group">
              <h4>Date of Birth</h4>
              <p class="form-control-static">July 4th, 1986</p>
            </div>
            <div class="form-group">
              <h4>Contact Number</h4>
              <p class="form-control-static">+60.19515**** <button type="button" class="btn btn-link btn-xs"><abbr title="Show phone number">Click to show</abbr></button></p>
            </div>
            <div class="form-group">
              <h4>Nationality</h4>
              <p class="form-control-static">Malaysia</p>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form role="form">
            <div class="form-group">
              <h4>Last Name</h4>
              <p class="form-control-static"><%= current_member.last_name %></p>
            </div>
            <div class="form-group">
              <h4>Address 2</h4>
              <p class="form-control-static">Taman Ria</p>
            </div>
            <div class="form-group">
              <h4>State/Province</h4>
              <p class="form-control-static">Kedah</p>
            </div>
            <div class="form-group">
              <h4>Country</h4>
              <p class="form-control-static">Malaysia</p>
            </div>
            <hr>
            <div class="form-group">
              <h4>Email Address</h4>
              <p class="form-control-static"><%= current_member.email %></p>
            </div>
            <div class="form-group">
              <h4>Marriage Status</h4>
              <p class="form-control-static">Married</p>
            </div>
          </form>
        </div>
      </div>

      <hr class="featurette-divider">

      <p class="lead">Skills</p>

    </div>
    <!-- Sidebar right -->
    <!-- If needed
    <div class="col-xs-12 col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
    -->
  </div>
</div>

